<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommender System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/responsive.css') }}" /> -->
    <link rel="icon" href="{{ url_for('static',filename='images/cart_svg.png') }}" type="image/gif" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/temp.css') }}">
</head>

<body>

    <!-- Page Content -->
    <div class="container" style="margin-top:200px">
        <div class="card border-0 shadow my-5">
            <div class="card-body">
                <div class="container text-center mb-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><a href="#" target="_blank"><b
                                        style="text-transform: uppercase; font-size: 26px; color: rgb(89, 46, 227)">Website
                                        gợi ý
                                        sản
                                        phẩm</b></a></h4>
                        </div>
                    </div>
                </div>
                {% if msg %}
                <div class="result_title"><b>Lỗi:</b></div>
                <span class="result_id">{{ msg }}</span>
                <hr>
                {% endif %}
                <div class="header_section">
                    <form action="./recommendation" method="post" id="form" class="container form-predict">
                        <div class="select_box">
                            <select required
                                class="js-example-placeholder-single custom-select text-center w-100 p-2 js-example-placeholder-single__algorithm"
                                name="algorithm">
                                <option></option>
                                {% for algorithm in model %}
                                <option value="{{ algorithm }}" class="text-center py-2 pl-2">
                                    {{ algorithm }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="containt_main">
                            <div class="row">
                                <div class="col-md-5 col-sm-12 p-sm-2 mr-40">
                                    <input type="text" hidden name="category" id="js-category">
                                    <select
                                        class="js-example-basic-multiple browser-default custom-select dropdown-item text-center w-100 p-2 js-example-basic-multiple__category"
                                        multiple="multiple">
                                        <option></option>
                                        {% for item in category %}
                                        <option value="{{ item }}" class="text-left py-2 pl-2">
                                            {{ item }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-5 col-sm-12 p-sm-2 ml-40">
                                    <div class="main m-0">
                                        <div class="input-group-custom">
                                            <select
                                                class="js-example-placeholder-single-2 browser-default custom-select dropdown-item text-center w-100 p-2 js-example-placeholder-single-2__product"
                                                name="title">
                                                <option></option>
                                                {% for product in listProducts %}
                                                <option value="{{ product }}" class="text-left py-2 pl-2">
                                                    {{ product }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="containt_main_active">
                            <div class="">
                                <div class="input-group w-auto">
                                    <input type="button" value="-"
                                        class="button-minus border  icon-shape icon-sm mx-1 d-inline-block"
                                        style="margin-right:0 !important" data-field="quantity" />
                                    <input type="number" step="1" min="1" max="10" value="1" name="quantity" style=""
                                        class="border-30 text-center text-center" />
                                    <input type="button" value="+"
                                        class="button-plus border  icon-shape icon-sm lh-0 d-inline-block" style=""
                                        data-field="quantity" />
                                </div>
                            </div>
                            <div class="">
                                <button type="submit" style="width: 200px" class="btn btn-danger js-btn" form="form">
                                    DỰ ĐOÁN
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static',filename='js/plugin.js') }}" defer></script>
    <script src="{{ url_for('static',filename='js/custom.js') }}" defer></script>
    <script defer>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "Chọn danh mục sản phẩm",
                allowClear: true
            });

            $(".js-example-placeholder-single").select2({
                placeholder: "Chọn thuật toán",
                allowClear: true
            });

            $(".js-example-placeholder-single-2").select2({
                placeholder: "Chọn sản phẩm",
                allowClear: true
            });
        });

        $('body').on('click', '.js-btn', function (e) {
            e.preventDefault();
            var category = [];
            //Get Text
            var selected = $('.js-example-basic-multiple').select2("data");
            for (var i = 0; i <= selected.length - 1; i++) {
                category.push(selected[i].text.replace(/^\s+|\s+$/gm, ''))
            }

            const selectCategory = $('#js-category')
            let jsonCategory = JSON.stringify(category)
            selectCategory.val(jsonCategory)
            $('#form').submit();

        });

        const collaborative = "Collaborative filtering";
        const contentBased = "Content-based filtering";
        $(".js-example-placeholder-single__algorithm").change(function (e) {
            let userOption = $(".js-example-placeholder-single__algorithm").val();
            if (userOption === contentBased) {
                $('.js-example-basic-multiple__category').prop('disabled', true);
            } else {
                $('.js-example-basic-multiple__category').prop('disabled', false);
            }
        });
    </script>
</body>

</html>